:root {
    // --- COLORS --- \\
    --primary-color: white;
    --secondary-color: rgb(2, 130, 249);
    --tertiary-color: rgb(48, 48, 48);
    --quaternary-color: rgb(28, 28, 28);


    // --- CONTAINERS SIZE --- \\
    --container-md: 75rem;
}